@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}